/*for Header and Login and Signup*/
*{
    box-sizing:border-box;
    font-family: 'Kalam', cursive;
}

body{
    background-color: rgb(247, 242, 220);
    margin: 0px;
}

h1{
    text-align: center;
    font-family: 'Times New Roman', cursive;
    font-weight:bolder;
    height:75px;
    word-spacing: 1.5px;
    letter-spacing: 5px;
    padding-top:20px;
    margin: 0px;
    font-size:50px;
    text-shadow: 5px 5px 5px rgb(255, 255, 255);
}
.head{
    position: fixed;
    top:0px;
}
#header img{
    height:95px;
    width: 95px;
    border-radius:100%;
    position:absolute;
    top:2px;
    left:55px;
}
img:hover{
    border:3px solid black;
    transition-duration: 0.20s;
}
#header{
    background-image: linear-gradient(90deg,rgb(169, 136, 59),rgb(158, 226, 142),rgb(43, 153, 181));
    height:100px;
    width:100%;
    margin-bottom: 10px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
#log_sign{
    padding-top:25px;
    width:300px;
    position:absolute;
    top:10px;
    right:10px;
    font-weight:bolder;
}
#log_sign li{
    list-style: none;
    display: inline;
    margin-right: 10px;
}
#log_sign li a{
    text-decoration:none;            
    color:black;
    font-size:25px;
}
#log_sign li a:hover{
    text-decoration: underline;
    border-radius:30px;
    border:3px solid black;
    padding:10px;
    transition-duration: 0.20s;
}
a{
    color: black;
    font-weight: bolder;
    text-decoration: none;
}
/*
    for small screen
*/
@media(max-width:1340px) { 
    #header h1{
        display: none;
    }
    #header{
        width:100%;
    }
    img{
        position:static;
        margin:0px 0px;
        display: inline-block;
        width:300px;
    }
    #log_sign{
        position:absolute;
        top:10px;
        right:65px;
        display: inline-block;
        width:200px;
    }
}

/*For Nav Bar*/
.content{
    display: none;
}
div li{
    list-style: none;
    display: block;
}
#navbar div{
    display: inline-block;
}
#navbar{
    width:100%;
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    background-image: linear-gradient(rgba(0, 246, 164, 0.416),orange);
    padding:10px;
    margin:120px auto 0px;
    width:1000px;
    font-size: 20px;
    border-radius:30px;
    height:50px;
}
#nav div{
    border:2px solid black;
    border-radius: 50px;
    text-align: center;
    padding:1px;
}

#nav div:hover{
    background-image: linear-gradient(90deg,rgba(255, 255, 255, 0.534),rgb(0, 183, 255));
    transition-property: "background-image";
    transition-duration: 0.5;
}

/*For content drop down*/
.content{
    display: none;
    position:absolute;
    margin-top:15px;
    z-index: 1;
    text-align: left;
    border:2px solid black;
    border-radius: 20px;
    padding:10px;
    background-image: linear-gradient(175deg,rgb(22, 113, 95),rgb(255, 255, 255));
    color:white;
}
.content li{
    border-bottom: 2px dashed lightslategray;
    padding:0px 10px;
}
.content li:last-child{
    border-bottom:none;
}
.content li:hover{
    background:linear-gradient(90deg,green,blue);
    border-radius:30px;
}
#nav div:hover .content{
    display: block;    
}

/*for about us */
#foot{
    position: fixed;
    bottom:0px;    
    background-image: linear-gradient(rgb(90, 84, 84),rgb(255, 255, 255));
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display: block;
    width: 100%;
    padding:30px;
}
#foot a{
    font-size:30px;
    font-weight: bolder;
}
#foot a:hover{
    border-radius:30px;
    border:3px solid rgb(255, 255, 255);
    padding:5px;
}
div#disp{
    position: relative;
    left:50px;
}
@media(max-height:700px){
    div#disp{
        position: relative;
        top:50px;
        left:50px
    }
}
#disp dev{
    display: flex;
    width:100%;
    justify-content: space-evenly;
}
#disp p{
    display: none;
}
input{
    box-sizing:border-box;
    height:50px;
    border-radius:30px;
    border:2px solid black;
    padding:20px;
    font-size:25px;
    padding-left:50px;
    width:300px;
    text-overflow: ellipsis;
    margin:15px;
    color:black;
}

/* Slideshow pictures */
.mySlides 
{
    display: none;
    z-index:0;
}
.slideshow-container img
{
    vertical-align: middle;
    height:300px;
    width:500px;
    border-radius: 30px;
    z-index: 0;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    max-width: 1000px;
    top:20px;
    left:250px;
    margin: 0px auto;
    z-index:0;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    z-index: 0;
    z-index:0;
}

/* Number text (1/3 etc) */
.numbertext {
    color:black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    z-index:0;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    z-index:0;
}

.active {
    background-color: #717171;
}
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    z-index:0;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}